$primary: #4f77b0;
$secondary: #6b6884;
$danger: #983f3a;
$light: #fff;
$dark: #00000044;
$success: #28a745;
$info: #017bfe;
$theme-colors: (
	'primary': $primary,
	'danger': $danger,
	'secondary': $secondary,
	'light': $light,
	'dark': $dark,
	'success': $success,
	'info': $info,
);
$custom-colors: (
	'seaBlue': #8da6b6,
	'lightGrey': #d4d4d681,
);
$enable-gradients: true;
$theme-colors: map-merge($theme-colors, $custom-colors);
@import './node_modules/bootstrap/scss/bootstrap';
